@import './variables.scss';

body {
    background-color: #000;
    color: $primary;
    font-size: $size;

    .wrap {
        padding: 2em;
        font-size: 18px;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;

        & div {
            padding: 2em;
            
            &.purple {
                background: purple;
            }
    
            &.red {
                background: red;
                color: purple;
    
                button {
                    display:block;
                    margin-top: 20px;
                    padding: 10px 30px;
                    background: #222;
                    color: #fff;
                    border: none;
                    font-weight: 700;
                    border-radius: 5px;
                    cursor: pointer;
    
                    &:active, &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
    
                &.clicked {
                    background: yellow;
                    color: #000;
                    font-weight: 700;
                }
            }
        }
        
    }
}