@import './variables.scss';

body {
    background-color: #000;
    color: $primary;
    font-size: $size;

    div {
        padding: 2em;
        font-size: 18px;
        background: purple;

        &.red {
            background: red;
            color: purple;
        }
    }
}